@page "/courselist"
@using OnlineCourse.Model.Models
@using OnlineCourse.Service
@inject ICourseService courseService;
@inject NavigationManager NavManager;


@if (_courseList == null)
{
    <p>Loading .... </p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th> Id</th>
                    <th>Name</th>
                    <th>Desc</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in _courseList)
                {
                    <tr>
                        <td>@course.Id</td>
                        <td>@course.Name</td>
                        <td>@course.Description</td>
                        <td @onclick="@(()=> GetDetail(course))">Details</td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@code {
    List<CourseModel> _courseList;
    protected override async Task OnInitializedAsync()
    {
        _courseList = await courseService.GetAllAsync("Courses?PageIndex=0&PageSize=10");
    }
    private async void GetDetail(CourseModel course)
    {
        NavManager.NavigateTo($"courseGetDetails/{course.Id}");


    }

}